.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  block-size: 120px;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: flex-end;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  font-size: 40px;
  padding-bottom: 20px;

}

.right-nav {
  display: flex;
  align-items: flex-end;
  padding-right: 1.5em;
}

.nav-prompt {
  display: block;
}

.nav-logo {
  display: block;
  text-align: center;
  color: #ed3c1f;
}