.nav-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #4056A1;
  color: #FFFFFF;
  block-size: 120px;
  border: 2px solid #FFF;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: flex-end;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
  font-size: 40px;
  border: 2px solid #FFFFFF;
  padding-bottom: 20px;

}

.right-nav {
  padding-right: 1.5em;
  padding-top: 58px;
  border: 2px solid #FFFFFF;
}

.nav-prompt {
  display: block;
  border: 2px solid #FFFFFF;
}

.nav-logo {
  display: block;
  text-align: center;
  color: #ed3c1f;
  border: 2px solid #FFFFFF;
}