.new-tweet {
  border: 2px solid blue;
}

.tweet-form {
  border: 2px solid aqua;
  display: flex;
  flex-direction: column;
}

.tweet-button {
  border: 2px solid blue;
  color: white;
  background-color: #4056A1;

}

.counter {
  border: 2px solid blue;
}

#tweet-text {
  /* border: 2px solid hotpink; */
  border: none;
  width: 100%;
  background-color: #f4f1ec;
  height: 35px;
}

.button-div {
  /* border: 2px solid hotpink; */
  border-top: 5px solid black;;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 60px;
  align-items: flex-end;
} 