#error_msg {
  color: red;
  font-weight: 700;
}

.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-button {
  color: white;
  background-color: #4056A1;
}

.tweet-button:hover {
  box-shadow: 5px 5px #c9cbdf;
}

.negative-counter {
  color: red;
}

#tweet-text {
  border: none;
  width: 100%;
  background-color: #f4f1ec;
  height: 35px;
}

.button-div {
  border-top: 3px solid black;;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 60px;
  align-items: flex-end;
} 