.tweet-display {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.tweet-display:hover {
  box-shadow: 5px 5px #c9cbdf;
}

.article-header-layout {
  display: flex;
  justify-content: space-between;
}

.article-footer-layout {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  margin-right: 10px;
  margin-left: 10px;
}

.box-element {
  border: 2px solid violet;
}

.article-top-right {
  color: #c9cde3;
}

.article-bottom-right {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  border: 2px solid violet;
  color: #4056A1
}

.article-bottom-right * :hover {
  color: #cb9825;
}

.tweet-text {
  margin-right: 10px;
  margin-left: 10px;
}